<a href="/" class="brand" aria-label="Proposal DIKTI, beranda">
  <svg class="brand-mark" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
    <rect width="32" height="32" rx="9" class="fill-primary"/>
    <path class="fill-white" fill-rule="evenodd" d="M10 6h6.4a5.6 5.6 0 0 1 0 11.2H13.5v5.3H10zM13.5 9.1h2.7a2.5 2.5 0 0 1 0 5h-2.7z"/>
    <rect x="8" y="24.4" width="16" height="3" rx="1.5" class="fill-marker-strong"/>
  </svg>
  <span>Proposal <span class="text-primary-700 dark:text-primary-300">DIKTI</span></span>
</a>
